<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel='stylesheet' href='/stylesheets/admin.css' />
	<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
	<script src="/javascripts/jquery-1.12.2.min.js"></script>
</head>
<body>
	<header>
		<h2>芷瀚报告控制台</h2>
	</header>
	<section>
		<div id="add_files">
			<label for="xlsfile">上传报告</label>
			<input id="xlsfile" name="xlsfile" type="file" />
			<button onclick="submitFile()">submit</button>
			<div class="progressBar" style="display: none">
				<progress class="bar" value="0" max="100">0 %</progress>
			</div>
		</div>

		<div id="file_list">
			<h4>报告列表</h4>
			<table>
				<tr>
					<th>#</th>
					<th>报告标题</th>
					<th>报告链接地址</th>
					<th>操作</th>
				</tr>
			</table>
		</div>

	</section>

	<footer>
		<p>@copy right reserved</p>
	</footer>

	<script>
		$(document).ready(function() {
			//	get report list
			$.ajax({
				url: "/admin/getList",
				type: "GET",
			}).success(function(data){
				console.log(data);
				updateListDom(data);
			});

		});


		function submitFile() {
			var fd = new FormData();
			var fileEle = document.getElementById("xlsfile");
			fd.append("xls", fileEle.files[0]);

			var bar = document.getElementsByTagName('progress')[0];
			bar.value = 0;
			bar.text = '0%';
			$(".progressBar").toggle();
			
			// var progressBar = document.getElementsByClassName('progressBar')[0];
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/submitxls");
			// 文件上传过程的回调
			xhr.upload.onprogress = function(e) {
				console.log(Math.round((e.loaded/e.total)*100)+'%')
				bar.value = Math.round((e.loaded/e.total)*100);
				bar.text = bar.value + '%';
			}

			/**
			 *   e.loaded 文件已经上传了的大小
			 *   e.total  文件总大小
			  e.loaded/e.total)*100+'%'  转化成比例；
			 */
			// 文件上传完毕的回调
			xhr.upload.onloadend = function(e) {
				console.log('接收完成'+e.loaded+'/'+e.total);
				setTimeout(function(res){
					$(".progressBar").toggle();
				},1000)
			}

			xhr.onload = function(e) { 
				if(this.status == 200||this.status == 304){
					updateListDom(JSON.parse(this.response));
				}
			};

			xhr.send(fd);
		}

		function updateListDom(data) {
			$("#file_list table tr:first-child").siblings().remove();
			var ele = $("#file_list table");
			var url = "";
			for(var i=0; i<data.length; i++) {
				url = data[i].split(".").slice(0,-1).join("");
				url = "/report/" + url;
				ele.append("<tr><td>"+(i+1)+"</td><td>"+data[i]+"</td><td><a href='"+url+"'>"+url+"</a></td><td><i class=\"fa fa-times\" aria-hidden=\"true\" onclick='deleteReport()'></i></td></tr>");
			}
		}

		function deleteReport() {
			var file = $(event.target).parents("tr").find("td").eq(1).html();
			$.ajax({
				url: "/admin/removeFile",
				type: "POST",
				data: {file: file}
			}).success(function(res){
				updateListDom(res);
			});
			//$(this.target)
		}
	</script>
</body>
</html>