<!DOCTYPE html>
<html>
  <head>
    <title>商品CTA产品</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/echarts.min.js"></script>
    <script src="./javascripts/jquery-1.12.2.min.js"></script>
  </head>
  <body>
    <h1>商品CTA产品1</h1>
    <hr />
    <h2>公司期权账户业绩报告</h2>
    <h4 class="title_sub_sub">公司期权管理账户业绩</h4>

    <div id="content">
    	<div class="content-item">
            <div id="period">
                <p>报告区间: <span></span></p>
            </div>
    		<ol>
    			<li>
    				<span class="table-title">统计汇总</span>
    				<table id="table_all">
    					<tr>
    						<th></th>
    						<th>区间收益率</th>
    						<th>年化收益率</th>
    						<th>波动率</th>
    						<th>最大回撤</th>
    						<th>夏普值</th>
    						<th>calmar值</th>
    					</tr>
    					<tr>
    						<th>样本</th>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    					</tr>
    					<tr>
    						<th>基准</th>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    					</tr>
    				</table>
    			</li>
    			<li>
    				<span class="table-title">年度统计</span>
    				<table id="table_year">
    					<tr>
    						<th>时间</th>
    						<th>收益率</th>
    						<th>回撤</th>
    					</tr>
    				</table>
    			</li>
<!--     			<li>
    				<span class="table-title">月度统计</span>
    				<table id="table_month">
    					<tr>
    						<th>时间</th>
    						<th>收益率</th>
    						<th>回撤</th>
    					</tr>
    				</table>
    			</li> -->
    		</ol>
    	</div>
    	<div class="content-item">
    		<div id="chart_1" style="width: 600px;height:400px;"></div>
    		<div id="chart_2" style="width: 600px;height:400px;"></div>
    	</div>
    </div>
    
    <script>
        var rawData = "<%= data %>";
    </script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
