<!DOCTYPE html>
<html>
  <head>
    <title>商品CTA产品</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/echarts.min.js"></script>
    <script src="/javascripts/jquery-1.12.2.min.js"></script>
  </head>
  <body>
<!--     <h1>商品CTA产品1</h1>
    <hr /> -->
    <h1>芷瀚资产账户业绩报告</h1>
    <!-- <h4 class="title_sub_sub">公司期权管理账户业绩</h4> -->
    <h4 class="title_sub_sub">&nbsp;</h4>

    <section></section>
    
    <script>
        var rawData = "<%= data %>";
    </script>
    <script src="/javascripts/report.js"></script>
  </body>
</html>
